// Bitters 1.8.0
// http://bitters.bourbon.io
// Copyright 2013-2017 thoughtbot, inc.
// MIT License

@import "variables";

@import "buttons";
@import "forms";
@import "layout";
@import "lists";
@import "media";
@import "tables";
@import "typography";

.columns {
  display: flex;
  align-items: center;
  height: 100%;
}

.column {
  height: 100%;
  display: flex;
  flex-grow: 1;
  align-content: center;

  &:not(:first-child) {
    margin-left: 60px;
  }

  &.center {
    justify-content: center;
  }    
}

.rows {
  display: flex;
  flex-grow: 1;
  align-content: center;
  flex-direction: column;
}

.row {
  &:not(:first-child) {
    margin-top: 30px;
  }

  &.grow {
    flex-grow: 100;
  }

  &.center {
    justify-content: center;
  }    
}

.messages {
  overflow-y: scroll;

  .message {
    &.owned {
      text-align: right;
    }
  }
}
