<div class="columns">
  <div class="column">&nbsp;</div>
  <div class="column center">
    <div class="rows">
      <div class="row"><h1>Robots & Martians</h1></div>
      <div class="columns row">
        <%= link_to page_path("robots"), class: "column" do %>
          <%= image_tag "bot" %>
        <% end %>
        <%= link_to page_path("martians"), class: "column" do %>
          <%= image_tag "martians" %>
        <% end %>
      </div>
  </div>
  <div class="column">&nbsp;</div>
</div>
