<div class="columns" data-controller="robots">
  <div class="column">&nbsp;</div>
  <div class="column center">
    <div class="rows">
      <div class="row grow messages" id="content" data-target="robots.messages">
        <em><small>There gonna be something...</small></em>
      </div>
      <div class="row">
        <form class="rows" data-action="robots#handleMessage">
          <input class="row" type="text" name="message" data-target="robots.input"/>
          <button type="submit" class="submit-btn">Send Message</button>
        </form>
      </div>
    </div>
  </div>
  <div class="column">&nbsp;</div>
</div>
